@import "tailwindcss";
@source "../src";

@theme inline {
  --font-*: initial;
  --font-display: var(--font-bobby-jones);
  --font-body: var(--font-neo-sans);

  --step--1: clamp(0.8333rem, 0.829rem + 0.0193vw, 0.844rem);
  --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.0774rem + 0.5448vw, 1.4996rem);
  --step-2: clamp(1.44rem, 1.2113rem + 1.0164vw, 1.999rem);
  --step-3: clamp(1.728rem, 1.3448rem + 1.703vw, 2.6647rem);
  --step-4: clamp(2.0736rem, 1.4688rem + 2.688vw, 3.552rem);
  --step-5: clamp(2.4883rem, 1.5693rem + 4.0845vw, 4.7348rem);

  --color-cream: oklch(91.938% 0.0996 105.738);
  --color-orange: oklch(68.749% 0.17328 53.414);
  --color-green: oklch(53.334% 0.15508 143.033);
  --color-honey: oklch(77.704% 0.17286 66.053);
  --color-blue: oklch(48.954% 0.28806 264.075);
  --color-red: oklch(59.63% 0.24154 28.934);
  --color-transparent: oklch(0% 0 0 / 0);
  --color-forest-shadow: oklch(23.546% 0.03929 144.234);
  --color-soft-sand: oklch(95.489% 0.02774 100.303);
  --color-warm-alabaster: oklch(98.178% 0.00528 95.189);
  --color-deep-pine-charcoal: oklch(24.368% 0.01422 145.213);
  --color-muted-moss: oklch(47.001% 0.02015 145.369);
  --color-pure-white: oklch(100% 0.00011 271.152);

  --shadow-solid: 10px 10px 0px 0px #ea7601;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-display);
    max-width: 30ch;
  }

  h1 {
    font-size: var(--step-5);
    line-height: 1.1;
  }

  p,
  .body-normal,
  .body-large,
  .body-small {
    font-family: var(--font-body);
    line-height: 1.5;
  }

  .body-large {
    font-size: var(--step-1);
    max-width: 70ch;
  }

  .body-normal {
    font-size: var(--step-0);
    max-width: 75ch;
  }

  .body-small {
    font-size: var(--step--1);
    max-width: 75ch;
  }
}
